<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.TestApp"
        tools:targetApi="31">
        <activity
            android:name=".Record"
            android:exported="false" />
        <activity
            android:name=".Salary"
            android:exported="false" />
        <activity
            android:name=".TrackMaterial"
            android:exported="false" />
        <activity
            android:name=".ProjectTool"
            android:exported="false" />
        <activity
            android:name=".ConstructionJob"
            android:exported="false" />
        <activity
            android:name=".MyWallet"
            android:exported="false" />
        <activity
            android:name=".Post_Property"
            android:exported="false" />
        <activity
            android:name=".DatePicker"
            android:exported="false" />
        <activity
            android:name=".WebView"
            android:exported="false" />
        <activity
            android:name=".BottomSheetActivity"
            android:exported="false" />
        <activity
            android:name=".startActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirebaseDataBase"
            android:exported="true" />
        <activity
            android:name=".purchaseRequest"
            android:exported="false" />
        <activity
            android:name=".sample"
            android:exported="false" />
        <activity
            android:name=".PaymentRequest"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>